.menu-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 9;
  padding: 0 2rem;
}

.menu-title {
  font-size: 2.5rem;
  font-family: "Karla", sans-serif;
}

.menu-text {
  margin: 0.8rem 0 1.8rem 0;
}

.menu-categories_ctn {
  margin: 1rem;
}

.menu-categories_label {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 1.05rem;
}

.menu-categories_label > select {
  padding: 0.2rem;
  font-family: "Karla", sans-serif;
  font-size: 0.95rem;
  color: var(--dark-blue);
  border-color: var(--blue);
  border-radius: 3px;
  background-color: var(--white-background);
  margin-left: 0.5rem;
}

@media screen and (max-width: 500px) {
  .menu-ctn {
    gap: 0.5rem;
    text-align: center;
  }

  .menu-categories_label > select {
    margin-top: 0.5rem;
    margin-left: 0;
  }

  .menu_btn {
    width: 70%;
  }
}
