.App {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blob-yellow_img {
  background-image: url("../public/images/blob-yellow.png");
  background-size: cover;
  width: 300px;
  height: 300px;
  position: absolute;
  right: 0;
  z-index: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blob-blue_img {
  background-image: url("../public/images/blobs-blue.png");
  background-size: cover;
  width: 300px;
  height: 300px;
  position: absolute;
  left: -60px;
  bottom: -235px;
  z-index: 0;
}

.quizzes_ctn {
  width: 75vw;
  margin: 0 auto;
  z-index: 9;
}

.check_btn {
  margin: 1.8rem 1.3rem 1.5rem 0;
}
